<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_PATTERN" value="%d{dd.MM.yyyy HH:mm:ss} [%level] [%class{0}:%method] - %msg%n"/>

    <!-- Assign application name to logback context -->
    <contextName>taxi</contextName>

    <!-- Console appender definition -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- Logger definition -->
    <root level="WARN" additivity="false">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- Specific filters by package -->
    <logger name="com.taxi" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration>
